.DS_Store
CoordinatorMulti/CoordinatorMulti.xcodeproj/project.xcworkspace/xcuserdata/luka.xcuserdatad/UserInterfaceState.xcuserstate
CoordinatorMulti/CoordinatorMulti.xcodeproj/project.xcworkspace/xcuserdata/ikercasillas.xcuserdatad/UserInterfaceState.xcuserstate
CoordinatorMulti/CoordinatorMulti.xcodeproj/xcuserdata/ikercasillas.xcuserdatad/xcschemes/xcschememanagement.plist
